@using EntityLayer.Concrete
@model EntityLayer.Concrete.Blog
@{
    ViewData["Title"] = "EditBlog";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Blog Düzenle</h4>
                @using (Html.BeginForm("EditBlog", "ControlPanel"))
                {
                    @Html.HiddenFor(p=>p.WriterID,new{@class="form-control"})
                    @Html.HiddenFor(p=>p.BlogID,new{@class="form-control"})
                    <label>Blog Başlığı</label>
                    @Html.TextBoxFor(p=>p.BlogTitle,new{@class="form-control"})
                    <label>Blog İçeriği</label>
                    @Html.TextAreaFor(p=>p.BlogContent,new {@class="form-control",@id="summernote"})
                    <label>Blog Kategorisi </label>
                    @Html.DropDownListFor(p=>p.CategoryID,(List<SelectListItem>)ViewBag.BlogCategoryList,new{@class="form-control"})
                    <label>Blog Thumbnail URL</label>
                    @Html.TextBoxFor(p=>p.BlogThumbnailImage,new{@class="form-control"})
                    <label>Blog Resim URL</label>
                    @Html.TextBoxFor(p=>p.BlogImage,new{@class="form-control"})
                    <label>Blog TarihL</label>
                    @Html.TextBoxFor(p=>p.BlogCreateDate,new{@class="form-control"})
                    <br />
                    <button class="btn btn-primary">Güncelle</button>
                }
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
<script>
    $('#summernote').summernote({
        tabsize: 2,
        height: 70,
        toolbar: [
            ['style', ['style']],
            ['font', ['bold', 'underline', 'clear']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['table', ['table']],
            ['insert', ['link', 'picture', 'video']],
            ['view', ['fullscreen', 'codeview', 'help']]
        ]
    });


    $(function () {
        $('#search').select2();
    });
</script>